.Banner {
  background-image: url("/assets/images/home/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  &-container {
    bottom: 20%;
    left: 0;
    position: absolute;
    right: 0;
  }
  &-content {
    color: $white;
    max-width: 380px;
    width: 100%;
  }
  &-title {
    font-size: 40px;
    font-weight: 700;
  }
  &-subtitle {
    font-size: 12px;
  }
}
