.base-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $base-container;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.base-centered-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
