.Navbar {
  background: $white;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 30px;
  width: 1100px;
  z-index: 1000;
  &-top {
    height: 120px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &-brand {
    height: 120px;
    width: 200px;
  }
  &-items {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    list-style: none;
    margin-bottom: 0;
    padding: 0 40px;
  }
  &-item {
    flex-grow: 1;
    height: 100%;
    padding: 0 20px;
  }
  &-link {
    text-transform: uppercase;
    .title {
      display: block;
      font-size: 12px;
      font-weight: 700;
    }
    .subtitle {
      color: $gray;
      display: block;
      font-size: 9px;
    }
  }
  &-button {
    background-color: $blue;
    border: none;
    box-shadow: none;
    color: $white;
    height: 55px;
    outline: none;
    padding: 0 15px;
    text-align: left;
    text-transform: uppercase;
    width: 175px;
    .title {
      display: block;
      font-size: 12px;
      font-weight: 700;
    }
    .subtitle {
      display: block;
      font-size: 9px;
    }
    @include pointer-events {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}
